{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock %}

{% block content %}
    <div class="container-book">
        <div class="event-summary">
            <img src="{{ event.image.url }}" alt="{{ event.title }}">
            <h2>{{ event.title }}</h2>
            <p><i class="fa-solid fa-location-dot" style="color: red;"></i> {{ event.location }}</p>
            <p><i class="fa-regular fa-calendar" style="color: black;"></i> {{ event.start_date|date:"d/m/Y" }} - {{ event.end_date|date:"d/m/Y" }}</p>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Book Now</button>
        </form>
    </div>
{% endblock %}