{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/eventDetails.css' %}">
{% endblock %}
{% block content %}
    <div class="container-details">
        <div class="event-card">
            <div class="event-image">
                <img src="{{ event.image.url }}" alt="{{ event.title }}">
            </div>
            <div class="event-details">
                <h1 class="event-title">{{ event.title }}</h1>
                <p class="event-meta">
                    <i class="fa-regular fa-calendar"></i> {{ event.start_date|date:"d/m/Y" }} - {{ event.end_date|date:"d/m/Y" }}
                    | <i class="fa-solid fa-location-dot" style="color: #FF6347; margin-left: 5px;"></i> {{ event.location }}
                </p>
                <p class="event-description">{{ event.description }}</p>

                <p class="event-meta" style="color: {% if event.booked_count < event.max_tickets %}#28a745{% else %}#ff5a5f{% endif %};">
                    Availability: {{ event.booked_count }}/{{ event.max_tickets }}
                </p>

                <div class="book-btn-container">
                    {% if event.booked_count < event.max_tickets %}
                        <a href="{% url 'book' event.event_id %}" class="book-btn">Book Now</a>
                    {% else %}
                        <p class="full-message">Full</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
